:host {
  display: block;
}
app-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  color: white;
  background: linear-gradient(45deg, gold, darkorange);
  border: none;
  border-radius: 10px;
  margin: 5PX 15px;
  cursor: pointer;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
  background: linear-gradient(45deg, #ff9900, #ff6600);
  transform: scale(1.1);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}
