
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png"
    alt="Poke" id="logo">

    <app-paginator (nextPage)="nextPage()" (prevPage)="prevPage()"/>
    
    <div class="lista">
            @for (poke of pokemons; track $index) {
                <app-pokemon-card 
                [pokemon]="poke.name" 
                [imagen]="'https://img.pokemondb.net/artwork/large/'+poke.name+'.jpg'"
                (clickName)="clickName($event)" />
                }
        </div>
 
    
<!--<input type="text" (input)="buscar($event)" placeholder="Buscar Pokémon por nombre o número..." />-->

<!--
<div class="lista">
    <div class="lista">
        @for (poke of pokemons; track $index) {
            <app-pokemon-detail 
            [pokemon]="poke.name" 
            
            [num]="poke.num" 
            [tipo]="poke.tipo" 
            [imagen]="poke.src"
            [habilities]="poke.habilities" 
            [movimientos]="poke.movimientos" 
            (clickName)="clickName($event)" />
            }

</div>
-->